#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.drum-rack {
  display: flex;
  flex-basis: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 110px;
}

.drum-pad {
  border: 1px solid black;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 2px;
  cursor: pointer;
}

.drum-pad > p {
  z-index: 100;
  color: white;
  font-size: 2.5em;
  transition: ease-in .2ms background-color;
  border-radius: 50%;
  width: 90px;
  line-height: 90px;
  text-align: center;
  vertical-align: center;
  background-color: none;
  user-select: none; 
  pointer-events: none;
}

.drum-pad > p.hit {
  opacity: .75;
  color: black;
  background-color: yellow;
}

#display {
  height: 50px;
  user-select: none; 
}